<h1>{{title}}</h1>
<h1>The sample project</h1>
<h1>The sample project change 2</h1>
 <h1>The sample project change 3</h1>
<h1>The sample project change 4</h1>
<h1>The sample project change 5</h1>
<h1>The sample project change 6</h1>
<h1>The sample project change 7</h1>
<h1>The sample project change 8.1</h1>
<h1>The sample project change 9.1</h1>
<!--<h1>The sample project change 9.2</h1>
<h1>The sample project change 9.3</h1>
<h1>The sample project change 9.4</h1>
<h1>The sample project change 9.5</h1>
<h1>The sample project change 9.6</h1> -->
 
<div>
  Points: <span>{{points}}</span>
</div>

<button (click)="plus1()">Plus 1</button>
<button (click)="reset()">Reset</button>